* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #020617;
  color: white;
}

/* NAV */
.nav {
  position: sticky;
  top: 0;
  padding: 20px;
  background: #020617;
  z-index: 10;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background: linear-gradient(120deg, #0ea5e9, #0369a1);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer-back {
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.layer-front {
  background: rgba(255, 255, 255, 0.12);
  z-index: 2;
}

.hero-text {
  position: relative;
  z-index: 3;
  transition: opacity 0.3s ease;


}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background: linear-gradient(
    120deg,
    #0ea5e9,
    #0369a1,
    #0ea5e9
  );
  background-size: 200% 200%;
  animation: waveMove 8s ease-in-out infinite;
}

@keyframes waveMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.layer-front {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
}



/* FEATURES */
.features {
  height: 100vh;
  padding: 100px;
  background: #020617;
}

.feature {
  margin-bottom: 40px;
  font-size: 36px;
}

/* PRODUCT */
.product {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 120px;
  background: #0ea5e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card {
  width: 220px;
  height: 140px;
  perspective: 900px;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  backface-visibility: hidden;
  border-radius: 12px;
}

.flip-front {
  background: #0ea5e9;
}

.flip-back {
  background: #0369a1;
  transform: rotateY(180deg);
}







/* FOOTER */
.footer {
  padding: 40px;
  text-align: center;
}
